.navbar {
    background-image: url("../../assets/images/header.png");
    height: 111px;
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
}

.lgo {
    width: 400px;
    margin-right: 300px;
}

.nav-link {
    color: white!important;
    background-image:linear-gradient(yellowgreen) ;
    margin-right: 11px;
    background-image: url("../../assets/images/green.webp");
}

.nav-link:hover {
    color: white!important;
    transform: scale(1.1);
    transition: 0.5s;
}

.btn-success {
    border: none;
    margin-bottom: 20px;
    background-image: url("../../assets/images/green.webp");
}

.btn-success:hover {
    color: white!important;
    transform: scale(1.1);
    transition: 0.5s;
}

.s {
    margin-left: 10px;
}

.c {
    display: none;
}

@media screen and (max-width: 766px) {
    .navbar {
        background-image: url("../../assets/images/header.png");
        height: 111px;
        font-family: 'Bebas Neue', cursive;
        font-size: 11px;
    }
    
    .lgo {
        width: 300px;
        margin-left: 60px;
    }
    
    .nav-link {
        color: white!important;
        background-image:linear-gradient(yellowgreen) ;
        margin-right: 0px;
        background-color: none;
        background-image: none;
        font-size: 12px;
        margin-left: 17px;
        margin-right: 17px;
        padding-top: 20px;
    }
    
    .navbar-nav {
       text-align: center!important;
    }

    .nav-link:hover {
        color: white!important;
        transform: scale(0);
        transition: 0s;
    }
    
    .btn-success {
        display: none;
    }

    .c {
        display: inline-block;
    }

    .ccc {
        display: none;
    }
    
    .btn-success:hover {
        color: white!important;
        transform: scale(0);
        transition: 0s;
    }
    
    .s {
        margin-left: 0px;
    }

    .alt {
        width: 100%;
        height: 50px;
        background-color: rgb(2, 83, 2);
        position: fixed;
        margin-top: 160px;
        
    }
}





















































